@font-face {
  font-family: 'QanelasBlack';
  src: url("../fonts/Qanelas/QanelasBlack.eot");
  src: url("../fonts/Qanelas/QanelasBlack.eot") format("embedded-opentype"), url("../fonts/Qanelas/QanelasBlack.woff2") format("woff2"), url("../fonts/Qanelas/QanelasBlack.woff") format("woff"), url("../fonts/Qanelas/QanelasBlack.ttf") format("truetype"), url("../fonts/Qanelas/QanelasBlack.svg#QanelasBlack") format("svg"); }
@font-face {
  font-family: 'QanelasBold';
  src: url("../fonts/Qanelas/QanelasBold.eot");
  src: url("../fonts/Qanelas/QanelasBold.eot") format("embedded-opentype"), url("../fonts/Qanelas/QanelasBold.woff2") format("woff2"), url("../fonts/Qanelas/QanelasBold.woff") format("woff"), url("../fonts/Qanelas/QanelasBold.ttf") format("truetype"), url("../fonts/Qanelas/QanelasBold.svg#QanelasBold") format("svg"); }
@font-face {
  font-family: 'QanelasMedium';
  src: url("../fonts/Qanelas/QanelasMedium.eot");
  src: url("../fonts/Qanelas/QanelasMedium.eot") format("embedded-opentype"), url("../fonts/Qanelas/QanelasMedium.woff2") format("woff2"), url("../fonts/Qanelas/QanelasMedium.woff") format("woff"), url("../fonts/Qanelas/QanelasMedium.ttf") format("truetype"), url("../fonts/Qanelas/QanelasMedium.svg#QanelasMedium") format("svg"); }
@font-face {
  font-family: 'QanelasLight';
  src: url("../fonts/Qanelas/QanelasLight.eot");
  src: url("../fonts/Qanelas/QanelasLight.eot") format("embedded-opentype"), url("../fonts/Qanelas/QanelasLight.woff2") format("woff2"), url("../fonts/Qanelas/QanelasLight.woff") format("woff"), url("../fonts/Qanelas/QanelasLight.ttf") format("truetype"), url("../fonts/Qanelas/QanelasLight.svg#QanelasLight") format("svg"); }
@font-face {
  font-family: 'QanelasUltraLight';
  src: url("../fonts/Qanelas/QanelasUltraLight.eot");
  src: url("../fonts/Qanelas/QanelasUltraLight.eot") format("embedded-opentype"), url("../fonts/Qanelas/QanelasUltraLight.woff2") format("woff2"), url("../fonts/Qanelas/QanelasUltraLight.woff") format("woff"), url("../fonts/Qanelas/QanelasUltraLight.ttf") format("truetype"), url("../fonts/Qanelas/QanelasUltraLight.svg#QanelasUltraLight") format("svg"); }
body {
  font-family: "QanelasMedium"; }

.container {
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 900px;
    padding-right: 15px;
    padding-left: 15px; } }
@media (min-width: 1200px) {
  .container {
    width: 1200px; } }
a {
  text-decoration: none; }
  a:hover, a:focus, a:active {
    outline: none; }

ul {
  list-style-type: none; }

.block_title {
  color: #fff;
  font-size: 3.5em;
  text-align: center;
  margin-top: 15px; }

.p0 {
  padding: 0; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.red {
  color: #F00A0D; }

.flip-clock-wrapper ul {
  margin: 5px 0;
  width: 65px;
  height: 120px;
  background-color: #1B1F26;
  position: relative; }
  .flip-clock-wrapper ul:nth-of-type(odd) {
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    -ms-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
    border-style: solid;
    border-color: #22262d;
    border-width: 1px 0 1px 1px; }
    .flip-clock-wrapper ul:nth-of-type(odd) li a div.down {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 6px; }
    .flip-clock-wrapper ul:nth-of-type(odd):before {
      content: "";
      width: 2px;
      height: 8px;
      background-color: #70767E;
      position: absolute;
      left: 2px;
      top: 50%;
      z-index: 9;
      -webkit-box-shadow: 2px 0px 14px 0px #3a3d42;
      -moz-box-shadow: 2px 0px 14px 0px #3a3d42;
      box-shadow: 2px 0px 14px 0px #3a3d42;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
  .flip-clock-wrapper ul:nth-of-type(even) {
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    -ms-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
    border-style: solid;
    border-color: #22262d;
    border-width: 1px 1px 1px 0; }
    .flip-clock-wrapper ul:nth-of-type(even) li a div.down {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 0px; }
    .flip-clock-wrapper ul:nth-of-type(even):after {
      content: "";
      width: 2px;
      height: 8px;
      background-color: #70767E;
      position: absolute;
      right: 2px;
      top: 50%;
      z-index: 9;
      -webkit-box-shadow: -2px 0px 14px 0px #3a3d42;
      -moz-box-shadow: -2px 0px 14px 0px #3a3d42;
      box-shadow: -2px 0px 14px 0px #3a3d42;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
  .flip-clock-wrapper ul li {
    line-height: 120px; }

.flip-clock-wrapper ul li a div.up:after {
  content: none; }

.flip-clock-wrapper ul li a div div.inn {
  text-shadow: 0 1px 2px #000;
  background-color: #1b1f26;
  font-size: 90px;
  color: #FFF; }

.flip-clock-wrapper {
  font-family: "QanelasBold"; }

.flip-clock-divider {
  height: 185px;
  width: 10px; }

.flip-clock-dot.bottom {
  bottom: 80px;
  display: none; }

.flip-clock-dot.top {
  top: 50px;
  display: none; }

.flip-clock-divider .flip-clock-label {
  color: #FFF;
  text-transform: uppercase;
  font-size: 21px;
  right: -107px;
  font-family: "QanelasMedium"; }

.flip-clock-divider.minutes .flip-clock-label {
  right: -107px; }

.flip-clock-divider.seconds .flip-clock-label {
  right: -114px; }

.flip-clock-wrapper .flip {
  box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.7); }

.stock_2 .flip-clock-wrapper ul {
  width: 50px;
  height: 80px; }
.stock_2 li {
  line-height: 80px; }
.stock_2 .flip-clock-wrapper ul li a div div.inn {
  font-size: 60px; }
.stock_2 .flip-clock-wrapper ul li {
  line-height: 80px; }
.stock_2 .flip-clock-divider {
  height: 135px; }
.stock_2 .flip-clock-divider .flip-clock-label {
  font-size: 16px; }
.stock_2 .flip-clock-divider .days .flip-clock-label {
  right: -69px; }
.stock_2 .flip-clock-divider .hours .flip-clock-label {
  right: -79px; }
.stock_2 .flip-clock-divider.minutes .flip-clock-label {
  right: -72px; }
.stock_2 .flip-clock-divider.seconds .flip-clock-label {
  right: -80px; }

.header {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  position: absolute;
  z-index: 9;
  top: 70px; }
  .header__logo {
    display: block;
    float: left;
    position: relative;
    width: 25%; }

.homescreen {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  background-image: url("../img/car_main.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50%;
  background-color: #000;
  padding: 35px 0;
  height: 600px; }

.whatisrs {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding: 185px 0 0;
  background-image: url("../img/bg_1.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 0%;
  margin-top: -135px;
  z-index: 9; }
  .whatisrs h2 {
    font-family: "QanelasLight";
    color: #FFF;
    font-size: 37px; }
  .whatisrs p {
    color: #FFF;
    font-size: 23px;
    margin-top: 35px; }
  .whatisrs h4 {
    font-size: 28px;
    color: #FFF; }
  .whatisrs img {
    display: block;
    margin: 0 auto;
    width: 70%; }

.searchresult {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  background-image: url("../img/bg_2.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 0%;
  padding-top: 390px;
  margin-top: -380px;
  padding-bottom: 170px;
  z-index: 8; }
  .searchresult img {
    display: block;
    margin: 15px auto;
    width: 70%; }
  .searchresult h2 {
    text-align: center;
    color: #FFF;
    font-size: 44px;
    text-transform: uppercase;
    font-family: "QanelasLight";
    margin-bottom: 0; }
  .searchresult h3 {
    text-align: center;
    color: #FFF;
    font-size: 39px;
    font-family: "QanelasLight";
    margin-top: 0; }
  .searchresult__model {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    margin-top: 70px; }
    .searchresult__model h4 {
      font-size: 30px;
      color: #FFF;
      font-family: "QanelasLight"; }
    .searchresult__model p {
      color: #FFF;
      font-size: 15px;
      display: block;
      margin: 25px 0; }
    .searchresult__model__input {
      width: 80%;
      display: block;
      float: left;
      height: 35px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      border-radius: 7px;
      -o-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #fff;
      border: none;
      outline-style: none;
      font-size: 16px;
      color: #000;
      padding-left: 15px;
      margin-bottom: 15px; }
    .searchresult__model__sub {
      display: block;
      float: left;
      width: 80%;
      height: 35px;
      line-height: 35px;
      border: none;
      outline-style: none;
      text-align: center;
      color: #FFF;
      font-size: 16px;
      font-family: "QanelasBold";
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      border-radius: 7px;
      -o-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #d72129;
      margin-bottom: 15px;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      .searchresult__model__sub:hover {
        background-color: #95171c; }
  .searchresult__numbers {
    display: block;
    position: relative;
    height: 300px;
    margin: 25px 7%;
    background-image: url("../img/numbs.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain; }
    .searchresult__numbers__first, .searchresult__numbers__second, .searchresult__numbers__third, .searchresult__numbers__fourth {
      position: absolute;
      width: 19%;
      text-align: center;
      margin-left: 20px;
      top: 48%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
      .searchresult__numbers__first h3, .searchresult__numbers__second h3, .searchresult__numbers__third h3, .searchresult__numbers__fourth h3 {
        font-size: 30px;
        margin-bottom: 0;
        color: #0074ac;
        font-family: "QanelasMedium"; }
      .searchresult__numbers__first p, .searchresult__numbers__second p, .searchresult__numbers__third p, .searchresult__numbers__fourth p {
        margin-top: 0;
        font-size: 18px; }
    .searchresult__numbers__second {
      left: 19%; }
      .searchresult__numbers__second h3 {
        font-size: 30px;
        color: #d76348; }
      .searchresult__numbers__second p {
        font-size: 16px; }
    .searchresult__numbers__third {
      right: 21%;
      left: inherit; }
      .searchresult__numbers__third h3 {
        font-size: 30px;
        color: #fc8b3c; }
      .searchresult__numbers__third p {
        font-size: 14px; }
    .searchresult__numbers__fourth {
      left: inherit;
      right: 0;
      margin: 0 15px 0 0; }
      .searchresult__numbers__fourth h3 {
        font-size: 30px;
        color: #fead1d; }
      .searchresult__numbers__fourth p {
        font-size: 11px; }

.stock_one {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  z-index: 7;
  background-image: url("../img/bg_3.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50%;
  padding: 400px 0 90px;
  background-color: #201D2D;
  margin-top: -320px; }
  .stock_one h2 {
    color: #FFF;
    text-transform: uppercase;
    font-family: "QanelasBold";
    font-size: 36px;
    text-align: center; }
  .stock_one h4 {
    color: #FFF;
    text-align: center;
    font-size: 26px; }
  .stock_one .flip-clock-wrapper {
    display: inline-block;
    width: auto;
    margin-bottom: 25px; }
  .stock_one .clockContainer {
    display: block;
    width: 100%;
    text-align: center; }

.missing {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  background-image: url("../img/bg_4.png");
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  margin-top: -150px;
  z-index: 9;
  padding-top: 150px; }
  .missing h2 {
    font-size: 41px;
    margin-bottom: 25px; }
    .missing h2 b {
      font-family: "QanelasBold"; }
  .missing__text p {
    font-size: 18px; }
    .missing__text p span.missing__higher {
      font-size: 28px;
      font-family: "QanelasBlack"; }
  .missing img {
    display: block;
    margin: 15px 0;
    float: right;
    width: 70%; }

.imac {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  background-image: url("../img/bg_5.png");
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  margin-top: -450px;
  padding-top: 500px; }
  .imac__computer {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    background-position: 50% 0;
    background-image: url("../img/apple-computer.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    height: 500px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3% 11% 31% 3%; }
    .imac__computer:before, .imac__computer:after {
      display: table;
      content: " "; }
    .imac__computer:after {
      clear: both; }
  .imac__text {
    display: block;
    float: left;
    position: relative;
    padding: 0 10%; }
    .imac__text h2 {
      font-size: 37px;
      font-family: "QanelasBold";
      text-align: center;
      margin-bottom: 25px;
      text-transform: uppercase;
      color: #FFF; }
    .imac__text h3 {
      font-size: 27px;
      text-transform: uppercase;
      text-align: center;
      color: #FFFEFA; }

.advantages {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 180px; }
  .advantages h2 {
    text-transform: uppercase;
    font-size: 45px;
    text-align: center;
    z-index: 9;
    position: relative; }
  .advantages p {
    font-size: 30px;
    text-align: center;
    z-index: 9;
    position: relative; }
  .advantages__bonuse {
    display: block;
    width: 270px;
    height: 270px;
    background-repeat: no-repeat;
    padding: 50px 5px;
    position: relative; }
    .advantages__bonuse p {
      color: #2f2f2f;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      display: block;
      height: 55px; }
    .advantages__bonuse i {
      display: block;
      width: 180px;
      height: 130px;
      margin: 0 auto;
      position: relative;
      bottom: 0; }
    .advantages__bonuse .bonus1, .advantages__bonuse .bonus2, .advantages__bonuse .bonus3, .advantages__bonuse .bonus4 {
      background-image: url("../img/bonus1.png");
      background-position: center;
      background-repeat: no-repeat; }
    .advantages__bonuse .bonus2 {
      background-image: url("../img/bonus2.png"); }
    .advantages__bonuse .bonus3 {
      background-image: url("../img/bonus3.png"); }
    .advantages__bonuse .bonus4 {
      background-image: url("../img/bonus4.png"); }

.stock_2 {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  z-index: 7;
  background-image: url("../img/bg_phone.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 0;
  padding: 445px 0 300px;
  margin-top: -250px; }
  .stock_2 .stock_2__title {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    margin-bottom: 80px; }
    .stock_2 .stock_2__title h2 {
      color: #FFF;
      text-transform: uppercase;
      font-size: 36px;
      font-family: "QanelasBold";
      text-align: center; }
    .stock_2 .stock_2__title h4 {
      color: #FFF;
      font-size: 26px;
      text-align: center; }
  .stock_2__clock {
    display: block;
    width: 100%;
    text-align: center; }
    .stock_2__clock h3 {
      font-size: 26px;
      text-align: center;
      font-family: "QanelasLight";
      text-transform: uppercase;
      color: #FFF; }
    .stock_2__clock .flip-clock-wrapper {
      display: inline-block;
      width: auto;
      margin-bottom: 25px; }

.reviews {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding: 100px 0 100px;
  background-color: #FDFDFD;
  margin-top: -170px; }
  .reviews h2 {
    font-size: 35px;
    color: #1D1D1D;
    text-transform: uppercase;
    text-align: center; }

@media only screen and (max-width: 1199px) {
  .whatisrs {
    padding-top: 110px; }

  .searchresult__numbers {
    margin: 25px 0;
    font-size: 25px; }
    .searchresult__numbers__first, .searchresult__numbers__second, .searchresult__numbers__third, .searchresult__numbers__fourth {
      margin-left: 10px; }
      .searchresult__numbers__first h3, .searchresult__numbers__second h3, .searchresult__numbers__third h3, .searchresult__numbers__fourth h3 {
        font-size: 25px; }
    .searchresult__numbers__fourth {
      margin-right: 5px; }

  .imac__computer {
    height: 360px; } }
@media only screen and (max-width: 991px) {
  .searchresult__numbers {
    margin: 25px 7%; }
    .searchresult__numbers__first h3, .searchresult__numbers__second h3, .searchresult__numbers__third h3, .searchresult__numbers__fourth h3 {
      font-size: 30px; }

  .imac__computer {
    height: 500px;
    padding: 3% 18% 25% 11%; } }
@media only screen and (max-width: 770px) {
  .align-left {
    text-align: center; }

  .align-right {
    text-align: center; }

  .whatisrs {
    padding-top: 160px;
    margin-top: -165px; }

  .imac__computer {
    height: 350px;
    width: 450px;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    float: none;
    padding: 2% 7% 15% 2%;
    margin: 0 auto; } }
@media only screen and (max-width: 650px) {
  .searchresult__numbers__first h3, .searchresult__numbers__second h3, .searchresult__numbers__third h3, .searchresult__numbers__fourth h3 {
    font-size: 25px; }

  .imac__computer {
    padding: 2% 8% 18% 2%; } }
@media only screen and (max-width: 550px) {
  .imac__computer {
    padding: 3% 10% 21% 3%; } }
@media only screen and (max-width: 500px) {
  .searchresult__numbers {
    height: 215px; }
    .searchresult__numbers__first h3, .searchresult__numbers__second h3, .searchresult__numbers__third h3, .searchresult__numbers__fourth h3 {
      font-size: 20px; }

  .imac__computer {
    height: 340px;
    width: 400px;
    padding: 3% 10% 28% 3%; } }
@media only screen and (max-width: 420px) {
  .imac__computer {
    height: 250px;
    width: 300px;
    padding: 3% 10% 25% 3%; } }

/*# sourceMappingURL=style.css.map */
