@font-face {
  font-family: 'QanelasBlack';
  src: url("../fonts/Qanelas/QanelasBlack.eot");
  src: url("../fonts/Qanelas/QanelasBlack.eot") format("embedded-opentype"), url("../fonts/Qanelas/QanelasBlack.woff2") format("woff2"), url("../fonts/Qanelas/QanelasBlack.woff") format("woff"), url("../fonts/Qanelas/QanelasBlack.ttf") format("truetype"), url("../fonts/Qanelas/QanelasBlack.svg#QanelasBlack") format("svg"); }
@font-face {
  font-family: 'QanelasBold';
  src: url("../fonts/Qanelas/QanelasBold.eot");
  src: url("../fonts/Qanelas/QanelasBold.eot") format("embedded-opentype"), url("../fonts/Qanelas/QanelasBold.woff2") format("woff2"), url("../fonts/Qanelas/QanelasBold.woff") format("woff"), url("../fonts/Qanelas/QanelasBold.ttf") format("truetype"), url("../fonts/Qanelas/QanelasBold.svg#QanelasBold") format("svg"); }
@font-face {
  font-family: 'QanelasMedium';
  src: url("../fonts/Qanelas/QanelasMedium.eot");
  src: url("../fonts/Qanelas/QanelasMedium.eot") format("embedded-opentype"), url("../fonts/Qanelas/QanelasMedium.woff2") format("woff2"), url("../fonts/Qanelas/QanelasMedium.woff") format("woff"), url("../fonts/Qanelas/QanelasMedium.ttf") format("truetype"), url("../fonts/Qanelas/QanelasMedium.svg#QanelasMedium") format("svg"); }
@font-face {
  font-family: 'QanelasLight';
  src: url("../fonts/Qanelas/QanelasLight.eot");
  src: url("../fonts/Qanelas/QanelasLight.eot") format("embedded-opentype"), url("../fonts/Qanelas/QanelasLight.woff2") format("woff2"), url("../fonts/Qanelas/QanelasLight.woff") format("woff"), url("../fonts/Qanelas/QanelasLight.ttf") format("truetype"), url("../fonts/Qanelas/QanelasLight.svg#QanelasLight") format("svg"); }
@font-face {
  font-family: 'QanelasUltraLight';
  src: url("../fonts/Qanelas/QanelasUltraLight.eot");
  src: url("../fonts/Qanelas/QanelasUltraLight.eot") format("embedded-opentype"), url("../fonts/Qanelas/QanelasUltraLight.woff2") format("woff2"), url("../fonts/Qanelas/QanelasUltraLight.woff") format("woff"), url("../fonts/Qanelas/QanelasUltraLight.ttf") format("truetype"), url("../fonts/Qanelas/QanelasUltraLight.svg#QanelasUltraLight") format("svg"); }
body {
  font-family: "QanelasMedium"; }

.container {
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 900px;
    padding-right: 15px;
    padding-left: 15px; } }
@media (min-width: 1200px) {
  .container {
    width: 1200px; } }
a {
  text-decoration: none; }
  a:hover, a:focus, a:active {
    outline: none; }

ul {
  list-style-type: none; }

.block_title {
  color: #fff;
  font-size: 3.5em;
  text-align: center;
  margin-top: 15px; }

.p0 {
  padding: 0; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.flip-clock-wrapper ul {
  margin: 5px 0;
  width: 75px;
  height: 120px;
  background-color: #1B1F26; }
  .flip-clock-wrapper ul:nth-of-type(odd) {
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    -ms-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px; }
    .flip-clock-wrapper ul:nth-of-type(odd) li a div.down {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 6px; }
  .flip-clock-wrapper ul:nth-of-type(even) {
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    -ms-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0; }
    .flip-clock-wrapper ul:nth-of-type(even) li a div.down {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 0px; }
  .flip-clock-wrapper ul li {
    line-height: 120px; }

.flip-clock-wrapper ul li a div.up:after {
  content: none; }

.flip-clock-wrapper ul li a div div.inn {
  text-shadow: 0 1px 2px #000;
  background-color: #1b1f26;
  font-size: 90px;
  color: #FFF; }

.flip-clock-wrapper {
  font-family: "QanelasBold"; }

.flip-clock-divider {
  height: 165px;
  width: 10px; }

.flip-clock-dot.bottom {
  bottom: 80px;
  display: none; }

.flip-clock-dot.top {
  top: 50px;
  display: none; }

.flip-clock-divider .flip-clock-label {
  color: #FFF;
  text-transform: uppercase;
  font-size: 21px;
  right: -107px;
  font-family: "QanelasMedium"; }

.flip-clock-divider.minutes .flip-clock-label {
  right: -107px; }

.flip-clock-divider.seconds .flip-clock-label {
  right: -114px; }

.header {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  position: absolute;
  z-index: 9;
  top: 70px; }
  .header__logo {
    display: block;
    float: left;
    position: relative;
    width: 25%; }

.homescreen {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  background-image: url("../img/car_main.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50%;
  background-color: #000;
  padding: 35px 0;
  height: 600px; }

.whatisrs {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding: 185px 0 0;
  background-image: url("../img/bg_1.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 0%;
  margin-top: -135px;
  z-index: 9; }
  .whatisrs h2 {
    font-family: "QanelasLight";
    color: #FFF;
    font-size: 37px; }
  .whatisrs p {
    color: #FFF;
    font-size: 23px;
    margin-top: 35px; }
  .whatisrs h4 {
    font-size: 28px;
    color: #FFF; }
  .whatisrs img {
    display: block;
    margin: 0 auto;
    width: 70%; }

.searchresult {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  background-image: url("../img/bg_2.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 0%;
  padding-top: 390px;
  margin-top: -380px;
  padding-bottom: 170px;
  z-index: 8; }
  .searchresult img {
    display: block;
    margin: 15px auto;
    width: 70%; }
  .searchresult h2 {
    text-align: center;
    color: #FFF;
    font-size: 44px;
    text-transform: uppercase;
    font-family: "QanelasLight";
    margin-bottom: 0; }
  .searchresult h3 {
    text-align: center;
    color: #FFF;
    font-size: 39px;
    font-family: "QanelasLight";
    margin-top: 0; }
  .searchresult__model {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    margin-top: 70px; }
    .searchresult__model h4 {
      font-size: 30px;
      color: #FFF;
      font-family: "QanelasLight"; }
    .searchresult__model p {
      color: #FFF;
      font-size: 15px;
      display: block;
      margin: 25px 0; }
    .searchresult__model__input {
      width: 80%;
      display: block;
      float: left;
      height: 35px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      border-radius: 7px;
      -o-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #fff;
      border: none;
      outline-style: none;
      font-size: 16px;
      color: #000;
      padding-left: 15px;
      margin-bottom: 15px; }
    .searchresult__model__sub {
      display: block;
      float: left;
      width: 80%;
      height: 35px;
      line-height: 35px;
      border: none;
      outline-style: none;
      text-align: center;
      color: #FFF;
      font-size: 16px;
      font-family: "QanelasBold";
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      border-radius: 7px;
      -o-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #d72129;
      margin-bottom: 15px;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      .searchresult__model__sub:hover {
        background-color: #95171c; }
  .searchresult__numbers {
    display: block;
    position: relative;
    height: 300px;
    margin: 25px 7%;
    background-image: url("../img/numbs.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain; }
    .searchresult__numbers__first, .searchresult__numbers__second, .searchresult__numbers__third, .searchresult__numbers__fourth {
      position: absolute;
      width: 19%;
      text-align: center;
      margin-left: 20px;
      top: 48%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
      .searchresult__numbers__first h3, .searchresult__numbers__second h3, .searchresult__numbers__third h3, .searchresult__numbers__fourth h3 {
        font-size: 30px;
        margin-bottom: 0;
        color: #0074ac;
        font-family: "QanelasMedium"; }
      .searchresult__numbers__first p, .searchresult__numbers__second p, .searchresult__numbers__third p, .searchresult__numbers__fourth p {
        margin-top: 0;
        font-size: 18px; }
    .searchresult__numbers__second {
      left: 19%; }
      .searchresult__numbers__second h3 {
        font-size: 30px;
        color: #d76348; }
      .searchresult__numbers__second p {
        font-size: 16px; }
    .searchresult__numbers__third {
      right: 21%;
      left: inherit; }
      .searchresult__numbers__third h3 {
        font-size: 30px;
        color: #fc8b3c; }
      .searchresult__numbers__third p {
        font-size: 14px; }
    .searchresult__numbers__fourth {
      left: inherit;
      right: 0;
      margin: 0 15px 0 0; }
      .searchresult__numbers__fourth h3 {
        font-size: 30px;
        color: #fead1d; }
      .searchresult__numbers__fourth p {
        font-size: 11px; }

.stock_one {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  z-index: 7;
  background-image: url("../img/bg_3.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50%;
  padding: 400px 0 90px;
  background-color: #201D2D;
  margin-top: -320px; }
  .stock_one h2 {
    color: #FFF;
    text-transform: uppercase;
    font-family: "QanelasBold";
    font-size: 36px;
    text-align: center; }
  .stock_one h4 {
    color: #FFF;
    text-align: center;
    font-size: 26px; }

@media only screen and (max-width: 1199px) {
  .whatisrs {
    padding-top: 110px; }

  .searchresult__numbers {
    margin: 25px 0;
    font-size: 25px; }
    .searchresult__numbers__first, .searchresult__numbers__second, .searchresult__numbers__third, .searchresult__numbers__fourth {
      margin-left: 10px; }
      .searchresult__numbers__first h3, .searchresult__numbers__second h3, .searchresult__numbers__third h3, .searchresult__numbers__fourth h3 {
        font-size: 25px; }
    .searchresult__numbers__fourth {
      margin-right: 5px; } }
@media only screen and (max-width: 991px) {
  .searchresult__numbers {
    margin: 25px 7%; }
    .searchresult__numbers__first h3, .searchresult__numbers__second h3, .searchresult__numbers__third h3, .searchresult__numbers__fourth h3 {
      font-size: 30px; } }
@media only screen and (max-width: 770px) {
  .align-left {
    text-align: center; }

  .align-right {
    text-align: center; }

  .whatisrs {
    padding-top: 160px;
    margin-top: -165px; } }
@media only screen and (max-width: 650px) {
  .searchresult__numbers__first h3, .searchresult__numbers__second h3, .searchresult__numbers__third h3, .searchresult__numbers__fourth h3 {
    font-size: 25px; } }
@media only screen and (max-width: 500px) {
  .searchresult__numbers {
    height: 215px; }
    .searchresult__numbers__first h3, .searchresult__numbers__second h3, .searchresult__numbers__third h3, .searchresult__numbers__fourth h3 {
      font-size: 20px; } }

/*# sourceMappingURL=style.css.map */
