.homescreen {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	background-image: url("../img/car_main.png");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: 50%;
	background-color: #000;
	padding: 35px 0;
	height: 600px;
}

.whatisrs {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 185px 0 0;
	background-image: url('../img/bg_1.png');
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
	margin-top: -125px;
	z-index: 9;
	h2 {
		font-family: $l;
		color: #FFF;
		font-size: 37px;
	}
	p {
		color: #FFF;
		font-size: 23px;
		margin-top: 35px;
	}
	h4 {
		font-size: 28px;
		color: #FFF;
	}
	img {
		display: block;
		margin: 0 auto;
		width: 70%;
	}
}

.searchresult {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	background-image: url('../img/bg_2.png');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: 50% 100%;
	padding-top: 340px;
	margin-top: -350px;
	padding-bottom: 170px;
	img {
		display: block;
		margin: 15px auto;
		width: 70%;
		
	}
	h2 {
		text-align: center;
		color: #FFF;
		font-size: 44px;
		text-transform: uppercase;
		font-family: $l;
		margin-bottom: 0;
	}
	h3 {
		text-align: center;
		color: #FFF;
		font-size: 39px;
		font-family: $l;
	}
	&__model {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		margin-top: 25px;
		h4 {
			font-size: 30px;
			color: #FFF;
			font-family: $l;
		}
		p {
			color: #FFF;
			font-size: 15px;
			display: block;
			margin: 15px 0;
		}
		&__input {
			width: 80%;
			display: block;
			float: left;
			height: 35px;
			@include border-radius(7px);
			@include background-clip(padding-box);
			background-color: #fff;
			border: none;
			outline-style: none;
			font-size: 16px;
			color: #000;
			padding-left: 15px;
			margin-bottom: 15px;
		}
		&__sub {
			display: block;
			float: left;
			width: 80%;
			height: 35px;
			border: none;
			outline-style: none;
			text-align: center;
			color: #FFF;
			font-size: 16px;
			font-family: $b;
			@include border-radius(7px);
			@include background-clip(padding-box);
			background-color: #d72129;
			margin-bottom: 15px;
		}
	}
	
}

