@media only screen and (max-width: 1199px) {
	.whatisrs {
		padding-top: 110px;
	}
	.searchresult__numbers {
		margin: 25px 0;
		font-size: 25px;
		&__first {
			margin-left: 10px;
			h3 {
				font-size: 25px;
			}
		}
		&__fourth {
			margin-right: 5px;
		}
	}
}
@media only screen and (max-width: 991px) {
	.searchresult__numbers {
	    margin: 25px 7%;
		&__first {
			h3 {
				font-size: 30px;
			}
		}
	}
}

@media only screen and (max-width: 770px) {
	.align-left {
		text-align: center;
	}
	.align-right {
		text-align: center;
	}
	.whatisrs {
	    padding-top: 160px;
	    margin-top: -165px;
	}
}

@media only screen and (max-width: 650px) {
	.searchresult__numbers {		
		&__first {
			h3 {
				font-size: 25px;
			}
		}
	}
}

@media only screen and (max-width: 500px) {
	.searchresult__numbers {
	height: 215px;		
		&__first {
			h3 {
				font-size: 20px;
			}
		}
	}
}