@media only screen and (max-width: 1199px) {
	.whatisrs {
		padding-top: 110px;
	}
	.searchresult__numbers {
		margin: 25px 0;
		font-size: 25px;
		&__first {
			margin-left: 10px;
			h3 {
				font-size: 25px;
			}
		}
		&__fourth {
			margin-right: 5px;
		}
	}
	.imac__computer {
		height: 360px;
	}
}
@media only screen and (max-width: 991px) {
	.searchresult__numbers {
	    margin: 25px 7%;
		&__first {
			h3 {
				font-size: 30px;
			}
		}
	}
	.imac__computer {
	    height: 500px;
	    padding: 3% 18% 25% 11%;
	}
}

@media only screen and (max-width: 770px) {
	.align-left {
		text-align: center;
	}
	.align-right {
		text-align: center;
	}
	.whatisrs {
	    padding-top: 160px;
	    margin-top: -165px;
	}
	.imac__computer {
	    height: 350px;
	    width: 450px;
	    -webkit-background-size: 100%;
	         -o-background-size: 100%;
	            background-size: 100%;
	    float: none;
        padding: 2% 7% 15% 2%;
	    margin: 0 auto;
	}
}

@media only screen and (max-width: 650px) {
	.searchresult__numbers {		
		&__first {
			h3 {
				font-size: 25px;
			}
		}
	}
	.imac__computer {	   
	    padding: 2% 8% 18% 2%;
    }
	
}

@media only screen and (max-width: 550px) {
	.imac__computer {	   
       padding: 3% 10% 21% 3%;
    }
}

@media only screen and (max-width: 500px) {
	.searchresult__numbers {
		height: 215px;		
		&__first {
			h3 {
				font-size: 20px;
			}
		}
	}
	.imac__computer {
	    height: 340px;
	    width: 400px;	   
	    padding: 3% 10% 28% 3%;
    }
}

@media only screen and (max-width: 420px) {
	.imac__computer {
	    height: 250px;
	    width: 300px;	   
	    padding: 3% 10% 25% 3%;
    }
}