@media only screen and (max-width: 1199px) {
	.whatisrs {
		padding-top: 110px;
	}
	.searchresult__numbers {
		margin: 25px 0;
		font-size: 25px;
		&__first {
			margin-left: 10px;
			h3 {
				font-size: 25px;
			}
		}
		&__fourth {
			margin-right: 5px;
		}
	}
	.imac__computer {
		height: 360px;
	}
}
@media only screen and (max-width: 991px) {
	.searchresult__numbers {
	    margin: 25px 7%;
		&__first {
			h3 {
				font-size: 30px;
			}
		}
	}
	.imac__computer {
	    height: 500px;
	    padding: 3% 18% 25% 11%;
	}
}

@media only screen and (max-width: 770px) {
	.align-left {
		text-align: center;
	}
	.align-right {
		text-align: center;
	}
	.whatisrs {
	    padding-top: 160px;
	    margin-top: -165px;
	}
	.imac__computer {
	    height: 350px;
	    width: 450px;
	    -webkit-background-size: 100%;
	         -o-background-size: 100%;
	            background-size: 100%;
	    float: none;
        padding: 2% 7% 15% 2%;
	    margin: 0 auto;
	}
	.missing {
		margin-top: -210px;
		padding-top: 210px;
		 img {
		    display: block;
		    margin: 15px auto;
		    float: none;
		    width: 70%;
		}
	}
	.imac {
		padding-bottom: 80px;
	}
	.stock_2 {
		text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
	}
	.reviews {
		padding-top: 280px;
	}
	.footer {
		height: auto;
	}
	.soc {
	    text-align: center;
	}
	.footer__copyr {
		float: none;
		text-align: center;
	}
}

@media only screen and (max-width: 650px) {
	.searchresult__numbers {		
		&__first {
			h3 {
				font-size: 25px;
			}
		}
	}
	.imac__computer {	   
	    padding: 2% 8% 18% 2%;
    }
	
}

@media only screen and (max-width: 550px) {
	.imac__computer {	   
       padding: 3% 10% 21% 3%;
    }
}

@media only screen and (max-width: 500px) {
	.searchresult__numbers {
		height: 215px;		
		&__first {
			h3 {
				font-size: 20px;
			}
		}
	}
	.imac__computer {
	    height: 340px;
	    width: 400px;	   
	    padding: 3% 10% 28% 3%;
    }

	.flip-clock-wrapper ul {
	    margin: 5px 0;
	    width: 35px;
	    height: 75px;
	    li {
			line-height: 75px;
		}
    }
    .flip-clock-wrapper ul li a div div.inn {
    	font-size: 50px;
    }
    .flip-clock-divider {
    	height: 145px;
    }
    .flip-clock-divider .flip-clock-label {
    	right: -73px;
    }
    .flip-clock-divider.minutes .flip-clock-label {
    	right: -73px;
    }
    .flip-clock-divider.seconds .flip-clock-label {
    	right: -78px;
    }
    .stock_2 {
		.flip-clock-wrapper ul {
		    margin: 5px 0;
		    width: 35px;
		    height: 75px;
		    li {
				line-height: 75px;
			}
	    }
	    .flip-clock-wrapper ul li a div div.inn {
	    	font-size: 50px;
	    }
	    .flip-clock-divider {
	    	height: 125px;
	    }
    }
    .reviews__carousel--item--desc {
    	border: none;
    	width: 100%;
    }
    .reviews__carousel--item--img--box {
    	float: none;
    	margin: 10px auto;
    }
    .reviews__carousel--item--img {
    	width: 100%;
    }
}

@media only screen and (max-width: 420px) {
	.imac__computer {
	    height: 250px;
	    width: 300px;	   
	    padding: 3% 10% 25% 3%;
    }
    .stock_one .flip-clock-wrapper {
    	margin: 25px 0;
    }
    .flip-clock-wrapper ul {
    	width: 10px;
    	height: 50px;
    	li {
    		line-height: 50px;
    	}    	
    }
    .flip-clock-wrapper ul li a div div.inn {
    	font-size: 35px;
    }
    .flip-clock-divider {
    	height: 100px;
    	width: 1px;
    }
    .stock_2 {
    	.flip-clock-wrapper {
	    	margin: 25px 0;
	    }
    	.flip-clock-wrapper ul {
			width: 10px;
			height: 50px;
			li {
				line-height: 50px;
			}    	
		}
		.flip-clock-wrapper ul li a div div.inn {
			font-size: 35px;
		}
		.flip-clock-divider {
			height: 100px;
			width: 1px;
		}
    }
}

@media only screen and (max-width: 320px) { 
	.header__logo {
		width: 100%;
		img {
			width: 50%;
			display: block;
			margin: 0 auto;
		}
	}
	.flip-clock-wrapper ul {
		padding: 15px;
	}
	.flip-clock-divider .flip-clock-label {
		font-size: 12px;	
	}

	.flip-clock-divider .flip-clock-label {
		right: -52px;
	}

	.flip-clock-divider.minutes .flip-clock-label {
		right: -52px;
	}

	.flip-clock-divider.seconds .flip-clock-label {
		right: -54px;
	}
	.reviews {
		.flip-clock-wrapper ul {
			padding: 15px;
		}
		.flip-clock-divider .flip-clock-label {
			font-size: 12px;	
		}
		.stock_2 .flip-clock-divider.minutes .flip-clock-label {
			right: -56px;
		}
		.stock_2 .flip-clock-divider.seconds .flip-clock-label {
			right: -61px;
		}
	}
	.advantages h2 {
		font-size: 32px;
	}
	.advantages p {
		font-size: 24px;
	}
	.imac__computer {
		padding: 3% 12% 30% 3%;
	}
	.imac {
		margin-top: -545px;
		padding-top: 550px;
	}
	.searchresult__numbers {
		margin: 25px -15px;
	}
	.searchresult__numbers__first {
		margin-left: 0;
	}
	.whatisrs img {
		width: 90%;
	}
	.whatisrs {
		margin-top: -190px;
		padding-top: 180px;
	}
}
